.button {
    -fx-border-radius: 50%;
    -fx-max-width: 70px;
    -fx-max-height: 70px;
}
.dice {
    -fx-background-color: YELLOW;
    -fx-alignment: center;
    -fx-max-height: 70px;
    -fx-max-width: 70px;
    -fx-border-radius: 10px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-size: 70px;
}
.titleText {
    -fx-font-weight: bold;
    -fx-font-size: 100px;
    -fx-alignment: center;
}
.text {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-alignment: center;
}
.menu {
    -fx-background-color: #996633;
    -fx-border-color: #663300;
}